body {
    height: 100vh;
    background-color: var(--primary-color);

    /* margin-left: 35px; */

    font-family: Roboto;
    color: var(--title-color);
    /* margin: 0 auto; */

}
.container {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    max-width: 1200px;
    height: 820px;

    margin: 0 auto;
}

.container .left-wrapper {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    width: 350px;
    height: 550px;
    padding: 24px;

    background-color: #41d776;

    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    /* box-shadow: 0 0 35px rgba(0, 0,0, 0.35); */
}

.left-wrapper .headers {
    margin: 35px auto;
    text-align: center;
    line-height: 3.5rem;
}

.left-wrapper .content {
    margin: 0 auto;
    line-height: 2.5rem;
    
}

.left-wrapper .content h3 {
    margin-bottom:15px;
    text-align: center;
}

.container .right-wrapper {
    width: 400px;
    height: 550px;
    padding: 24px;

    background-color: #1f444f;

    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

    /* box-shadow: 0 0 15px rgba(0, 0,0, 0.45); */

}

.right-wrapper form {
    width: 90%;
    max-width: 350px;
    height: 450px;
    box-sizing: border-box;

}

form .image {
    display: flex;
    align-items: center;
    
}

form legend {
    margin-top: 15px;
}

form legend h4 {
    font-size: 1.6rem ;
}

.image img {
    width: 65px;
    height: 60px;
}
.field {
    position: relative;

}
form .field {
    display: flex;
    flex-direction: column;
}
form fieldset {
    margin-top: 26px;

    border: 0;
}

form .field-group {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}


form input {
    padding: 16px 0;
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid #365760;

    color: white;
    
    background-color: transparent;
    outline: none;
}

input ~ label {
    position: absolute;
    top: 16px;
    left: 0;

    transition: 0.4s;
}

input:focus ~ label,
input:valid ~ label {
    transform: translateY(-24px);
    font-size: 1.3rem;
}


form button {
    width: 85px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    background-color: var(--title-color);
    color: var(--primary-color);

    margin: 0 auto;
}
