* { margin: 0px; padding: 0px;
}

#chat-header {
    background-color: #424242;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

#chat-box {
    width: 80%;
    min-width: 197px;
    position: sticky;
    bottom: 0px;
    align-self: end;
}

#user-chat-status, .friend-chat-status {
    fill: #43b581;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.friend {
    display: grid;
    grid-template-columns: 30px auto 30px;
    grid-template-rows: 30px;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 25px;
}

.friend-profile-image { 
    border-radius: 100px;
    width: 30px;
    height: 30px;
}

#friends-list {
    background-color: white;
    padding: 10px;
}