@import url("https://fonts.googleapis.com/css?family=Segoe UI Historic|Segoe UI");

header {
    grid-column: 1/-1;
    position: relative;
}


.menu {
    display: flex;
    justify-content: space-between;
	padding-right: 10px;
    align-items: center;
	width: 100%;
	position: fixed;
    background:#242526;
	border-bottom: 2px groove #65676B;
}

#logo {
    padding-top: 5px;
    width: 170px;
    height: 60px;
    margin-left:5px;
}

input{
    margin: 0px;
}

#search-input {
    border-radius: 20px;
    height: 35px;
    width: 350px;
	margin-left: 20px;
    padding-left: 10px;
    font-family: "Segoe UI Historic","Segoe UI", Helvetica, Arial, sans-serif;
}

.perfil {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.perfil-image {
    border-radius: 100px;
    width: 30px;
    height: 30px;
    margin-right: 0px;
}

#name-perfil {
    color : white;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
}
