@import url("https://fonts.googleapis.com/css?family=Segoe UI Historic|Segoe UI");


#chat {
	margin-top: 50px;
	position: fixed;
}

.right {
    background-color: transparent;
    grid-column: 3;
    grid-row: 2;
    position: relative;
    width: min-content;
    height: min-content;
}

h3{
    color:#b0b3b8 ;
    font-family: "Segoe UI Historic","Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
	border-bottom: 2px solid white;
	margin-bottom: 20px;

}

.friend {
    display: flex;
    background: #18191a;
    align-items: center;
    margin-left: 30px;
    padding-bottom: 15px;
    border-radius: 20px;
}

.friend p {
    color: white;
    margin-left:10px ;
    font-weight: bold;
    font-family: "Segoe UI Historic","Segoe UI", Helvetica, Arial, sans-serif;
}

.friend p:hover {
	color: var(--primary-color);
}

.chat-image {
    border-radius: 100px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.status-circle {
    width: 40px;
    height: 40px;
    padding-top: 11px;
    margin-left: 20px;
    fill: #43b581;
}