a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #12af6e;
}

.left {
    background: transparent;
    grid-column: 1;
    grid-row: 2;
	position: relative;
}

nav {
	margin-top: 50px;
	position: fixed;
}

#sidebar-menu {
  text-decoration: none;  
  list-style: none;
  justify-content: center;
  margin-left: 20px;
}

#sidebar-menu li{
    margin-bottom: 30px;
}

.sidebar-menu-item {
	display: flex;	
	align-items: center;
}

.sidebar-menu-item img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

