@import url("https://fonts.googleapis.com/css?family=Segoe UI Historic|Segoe UI");

a {
	color: white;
	text-decoration: none;
}

.left {
    background: transparent;
    grid-column: 1;
    grid-row: 2;
	position: relative;
}

nav {
	position: sticky;
	top: 100px;
}

#sidebar-menu {
  text-decoration: none;  
  list-style: none;
  margin-left: 20px;
}

#sidebar-menu li{
    margin-bottom: 30px;
}

.sidebar-menu-item {
	display: flex;	
	align-items: center;
	height: 40px;
}

.sidebar-menu-item a {
	display: flex;	
	align-items: center;
	font-family: "Segoe UI Historic","Segoe UI", Helvetica, Arial, sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
}

.sidebar-menu-item img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.left-sidebar-icons {
	height: 40px;
	width: 40px;
	fill: white;
	margin-right: 10px;
}

.sidebar-menu-item:hover svg {
	fill: var(--primary-color);
}

.sidebar-menu-item:hover a {
	color: var(--primary-color);
}

