@import url("https://fonts.googleapis.com/css?family=Segoe UI Historic|Segoe UI");

body {
    height: 100vh;
    background-color: var(--background);
}

.container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(350px, 2fr) minmax(200px, 1fr);
    grid-template-rows: 10vh 85vh 5vh;
}

#uploaded-img {
	grid-row: 4;
	grid-column: 1/-1; 
	border: 2px groove #9a9a9a;
	width: 100%;
}

.emojis {
	border: none; 
	outline:none !important; 
	padding-left: 5px
}

#emojis-area {
	grid-row: 3; 
	grid-column: 1/-1; 
	border: 2px groove #9a9a9a; 
	display: flex; 
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 5px;
}


main {
    background:#242526;
    grid-column: 2;
    border-radius: 10px;
	height: min-content;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#feed {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#create-post {
	background-color: white;
	max-width: min-content;
	min-width: 80%;
	min-height: 100px;
    max-height: min-content;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 10px;
	display: grid;
    grid-template-rows: 40px auto auto auto;
	grid-template-columns: 30px 30px 30px 30px auto 50px;
	row-gap: 10px;
	column-gap: 10px;

}

#create-description {
    grid-row: 1;
	grid-column: 2/-1;
    padding-left:2px;
    padding-top:2px;
	resize: none;
	border-radius: 7px;
    margin-top: 3px;
    font-family: "Segoe UI Historic","Segoe UI", Helvetica, Arial, sans-serif;
	width: 100%;
}

#post-button {
    grid-row: 2;
    grid-column: -2;
    height: 30px;
    width: 50px;
    color: white;
    background-color: var(--primary-color);
    border: none;
	border-radius: 15px;
}

#post-button:hover {
	filter: brightness(120%);
}

#media-icon {
	grid-column: 2;
}

#create-post svg {
	width: 25px;
	height: 25px;
}

#create-post svg:hover {
	fill: var(--primary-color);
}

#gif-icon {
	border: 2px solid black;
}

#gif-icon:hover {
	border-color: var(--primary-color);
}

#home-icon {
	fill: var(--primary-color);
}

